<a href="https://colab.research.google.com/github/SharonCamacho/todos_a_la_U_python/blob/main/Clase_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Conversión Explicita**

In [ ]:
texto = "Gracias"
niños = 50
peso = 55.7
animales = "monos"
mascotas = 6
numbers = (1, 2, 3, 4)

In [ ]:
#Convierto niños a str
niños_str = str(niños)
print(niños_str)

50

In [ ]:
type(niños_str)

str

In [ ]:
#Convierto niños a float
print(float(niños))

50.0

In [ ]:
#Convierto peso a int
print(int(peso))

55

# Estructura de control de flujo

Condicionales


```
If condicion:
  codigo
```

In [ ]:
if 4 < 2:
  print("Hola")

In [ ]:
profe = "Carlos"

In [ ]:
if profe == "Sharon":
  print("Hay clase")

In [ ]:
lluvia = False

In [ ]:
lluvia = False
if lluvia == True:
  print("llevar el paraguas")
else:
  print("vamos a la piscina")

vamos a la piscina

In [ ]:
galones = 10

if galones > 0:
  print("Nos vamos de paseo")

Nos vamos de paseo

In [ ]:
sharon = 30
andres = 24
natalie_1 = 9
natalie_2 = 7
papa_sharon = 54

persona = natalie_1

if persona <= 18:
  print("menor de edad")
elif persona <= 40:
  print("adulto jóven")
elif persona <= 60:
  print("adulto")
else:
  print("adulto mayor")

menor de edad

In [ ]:
if (persona>0) and (persona<=18):
  print("menor de edad")
elif (persona>18) and (persona<60):
  print("adulto")
elif persona<0:
  print("dato no valido")
else:
  print("adulto mayor")

adulto mayor

In [ ]:
print("Tiene subsidio" if persona <=18 else "no tiene subsidio")

Tiene subsidio

In [ ]:
age=int(input())
x='child' if age<12 else 'teen' if age<20 else 'young' if age<30 else 'middle age' if age<50 else 'old'
print(x)

80
old

Ciclo for

1. Iterar sobre una lista para imprimir sus elementos

In [ ]:
mi_lista = ['hola', 10, 22.5, 'profe']

for i in mi_lista:
    print(i)

hola
10
22.5
profe

In [ ]:
alumnos = ['Angelica', 'Andres','Luis','Sandra']

for i in alumnos:
  print("Hola "+ i)

Hola Angelica
Hola Andres
Hola Luis
Hola Sandra

In [ ]:
numeros = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]

for i in numeros:
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [ ]:
for i in range(1,21):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

Ciclos while

In [ ]:
alumnos = 5

while alumnos > 1:
  print("dar clase")
  alumnos = alumnos - 1
  print(alumnos)

dar clase
4
dar clase
3
dar clase
2
dar clase
1