<a href="https://colab.research.google.com/github/SharonCamacho/todos_a_la_U_python/blob/main/Ejercicios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Escribir una rutina que calcule la suma de los números **pares menores que 5** en esta lista. **Pistas:** 
* Hay muchas formas de hacerlo, si piensas en más de una, mejor. Pero trata de tomar los ejemplos que vimos en este notebook.
* El resultado es 20. 
* Recuerda que puedes **inicializar una variable** en cero, y luego ir modificándola en un **loop**. Hicimos algo así en el notebook de la bitácora anterior con una variable que llamamos `i`

In [ ]:
numeros = [4,5,1,3,5,7,8,1,3,4,1,7,8,1,3,4,5,2,1,2,4,5]

In [ ]:
sum = 0

for i in numeros:
  if i < 5:
    if i % 2 == 0:
      sum = i + sum

In [ ]:
sum

20

**Ejercicio**: imprimir el séptimo elemento de `lista_2`. Asegurarte que lo hiciste bien contando los elementos de la lista.

In [ ]:
lista_2 = [5, 6.0,'Un poco de texto',-5, False, 'Más texto', True, 100]

**Ejercicio:** tomando `lista_1` desde `lista_3` (lo que acabamos de hacer en la celda anterior), indexar el tercer elemento de `lista_1`. Debería darte como resultado `True`.

In [ ]:
lista_1 = [42, 10.7, True, 'Texto']
lista_3 = [0, lista_1, 'Mas texto', lista_2]

**Ejercicio**: Define una lista vacia llamada `lista_nueva` y agréguele (`append()`) los elementos `a`, `b` y `c`.

In [ ]:
a = 8
b = 'world'
c = [12,24.5,66]


**Ejercicio:** Si tenemos una lista de números, por ejemplo los primeros diez numeros naturales, e intentamos sumarle un número fijo a la lista, por ejemplo 3, tal vez intentemos algo parecido a lo siguiente:

In [ ]:
numeros = [0,1,2,3,4,5,6,7,8,9]
print(numeros + 3)

TypeError: can only concatenate list (not "int") to list

¡Nos salta un error!  Entonces, te proponemos que resuelvas los siguientes ejercicios:


1. Crear una rutina que le sume tres a los diez primeros números naturales y vaya imprimiendo en pantalla a medida que lo hace.
2. Crear una rutina que le sume tres a los diez primeros números naturales y guarde los resultados en una nueva lista. Al final, imprimir esa lista en pantalla.

Si necesitas unas pistas, puedes clickear [aquí](https://colab.research.google.com/drive/1gfqynizt4gSsitlZELigCL1jIdlYkpmS), ¡pero te recomendamos que antes lo intentes!

In [ ]:
# COMPLETAR

**Para investigar y pensar**: ¿qué ocurriría si, en lugar de querer sumarle un número a los diez primeros números naturales, quisiéramos hacerlo sobre los primeros cien?¿Y si fuera el primer millón de números naturales?¿La rutina que creaste es fácilmente adaptable? Investiga cómo podrías adaptarla. Pista: `range()`

In [ ]:
#Completar

**Ejercicio 3**: Genere una lista llamada `numerotes` que contenga el cuadrado de cada elemento en la lista `numeritos`.

In [ ]:
numeritos = [3,1,5,7,12,10,17,4,22]
numerotes = []

La operación se llama concatenación. En este caso, de listas.

**Ejercicio 5:** sumar todos los elementos de la siguiente lista. **Pistas:**
* En un ejemplo anterior definimos una variable `i`, inicializada en cero, que fuimos modificando en cada paso de un `for`. Considerar la opción de definir una variable `suma` y utilizarla de forma parecida.

In [ ]:
numeros = [4,8,3,1,-3,3,-5,1,2,-8]

In [ ]:
numeros = [4,8,3,1,-3,3,-5,1,2,-8]